{% extends "inicio/encabezado.html" %}

{%block titulo %}ELIMINAR{% endblock %}




{%block contenido %}
{%block encabezado %}
 <!--Encabezdo -->
 <div class="page-header">
    <div class="page-title">
        <h3>ELIMINAR PRODUCTO</h3>
    </div>
    
</div>
<!-- /Encabezado-->
{% endblock %}


<form method="POST">
    {% csrf_token%}
    <!--Alerta-->
    <div class="callout callout-danger fade in">
        <h5>Eliminando Producto</h5>
        
        <p>¿Estas seguro de que deseas <strong>Eliminar</strong>
        el producto seleccionado?.</p>
    </div>

    <button type="submit" class="btn btn-danger">Si</button>
    <a href="{%url 'ConsultarP'%}" class="btn btn-primary">Cancelar</a>
</form>
{% endblock %}