{% extends "inicio/encabezadoInicio.html" %}

{%block titulo %}Aprende Jugando{% endblock %}

{%block contenido %}


	<div>
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<h4>Aviso de privacidad</h4>
					<p>Los datos personales recabados serán protegidos, incorporados y tratados en el Sistema de Datos personales Nombre, domicilio, fecha de nacimiento, datos bancarios, ubicación, el cual tiene su fundamento en (Fundamento legal que faculta al Ente público para recabar los datos personales), cuya finalidad es proporcionar una mejor experiencia en Aprender Jugando al momento de entregar, pagar, pedir algun producto y podrán ser transmitidos a nuestra base de datos con la finalidad de tener un registro de clientes virtual, además de otras transmisiones previstas en la Ley de Protección de Datos Personales para el Distrito Federal.</p>

<p>Los datos marcados con un (*) son obligatorios y sin ellos no podrá acceder al servicio o completar el trámite platarforma de compra online de material didactico.</p>

<p>Asimismo, se le informa que sus datos no podrán ser difundidos sin su consentimiento expreso, salvo las excepciones previstas en la Ley.</p>

<p>El responsable del Sistema de Datos Personales y la dirección donde podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, así como la revocación del consentimiento.</p>

<p>El Interesado podrá dirigirse al instituto de Acceso a la Información Pública y Protección de Datos Personales, donde recibirá asesoría sobre los derechos que tutela la Ley de Protección de Datos Personales; página: www.accesoalainformacion.org.mx </p>
					</div>
				</div>
			</div>
		</div>
        {% endblock %}
        
        