<!DOCTYPE html>
<html>
<head>
	<title>{% block titulo %} {% endblock %}</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.png" />
	<meta charset="utf-8">
    {%load static%}
	<!-- Compiled and minified JavaScript -->
    <script src="{%static 'inicio/js/jquery.js'%}"></script>
    <script src="{%static 'inicio/js/materialize.min.js'%}"></script>
	
   
    <!-- Compiled and minified CSS -->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="{%static 'inicio/css/materialize.css'%}">
    <link rel="stylesheet" href="{%static 'inicio/css/home.css'%}">
    <link rel="stylesheet" href="{%static 'inicio/css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'inicio/dist/sweetalert.css'%}">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

	<noscript>
		<div class="container">
			<center class="animated pulse infinite">
				<h5><p>ATENCIÓN</p></h5>
				<font color="red"><h5 class="red-text"><p>La página que estás viendo requiere para su funcionamiento el uso de JavaScript. 
					Si lo has deshabilitado intencionadamente, por favor vuelve a activarlo.</p></h5></font>
				</center>
			</div>
		</noscript>
		
		<!-- Formularios-->
		<div class="container" id="login_form ">
			<div class="row">
				<div class="col s12 m12 l12">		
					<center><img src="{%static 'inicio/img/Logo.png'%}" alt=""></center>
                    
				</div>

				<div class="col s12 m12 l12">
					<br>

				</div>



				<div class="col s12 m12 l12">
				</div>
				<!-- login cuenta  -->
				<div class="s12 m12 l12">
					<div class="col s0 m2 l3"></div>
					<div class="col s12 m8 l6 " id="login">


						<form name="login" method="POST">
							{%csrf_token%}
							<br><label>Correo:</label>
							<input type="text" name="user"  size="30" >
							<br><label>Contraseña:</label>
							<input type="password" name="password"  size="30" >
							<br>
							<button class="btn waves-effect waves-light left" type="submit" name="enviar">Enviar
								<i class="material-icons right">send</i>
							</button>
							<button class="btn waves-effect waves-light right" type="reset" name="enviar">Restablecer</button>
							<br><br>
							<p class="center">¿No tienes cuenta? <a href="{%url 'Registro'%}">Regístrate</a> </p>
							<br>
							<br>
						</form>
					</div>
					<div class="col s0 m2 l3"></div>	
				</div>
				<!-- Fin login cuenta  -->

			</div>
		</div>
		<!-- Formularios-->

	</body>
	</html>
		